@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div class="" id="contact-page">
        <div class="container">
            <div class="register">
                <form>
                    <div>
                        <input type="text" placeholder="Họ và tên">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Chủ đề">
                        <textarea placeholder="Nội dung" rows="6"></textarea>
                    </div>
                    <input type="submit" value="Gửi thông tin" class="white bg-brown padding">
                </form>
            </div>
            <div class="contact-info">
                <div class="contact-block">
                    <span class="name">Chi nhành Hà Nội</span>
                    <span class="address">Địa chỉ: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores minus doloremque corrupti aut ab accusantium cum eos quam incidunt, deleniti facere omnis in! Aliquid at rerum autem nesciunt velit impedit!</span>
                    <span class="phone">Số điện thoại: 0912345678</span>
                    <span class="phone">Email: sale@jwcafe.com</span>
                </div>
                <div class="contact-block">
                    <span class="name">Chi nhành Đà Nẵng</span>
                    <span class="address">Địa chỉ: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores minus doloremque corrupti aut ab accusantium cum eos quam incidunt, deleniti facere omnis in! Aliquid at rerum autem nesciunt velit impedit!</span>
                    <span class="phone">Số điện thoại: 0912345678</span>
                    <span class="phone">Email: sale@jwcafe.com</span>
                </div>
                <div class="contact-block">
                    <span class="name">Chi nhành Hồ Chí Minh</span>
                    <span class="address">Địa chỉ: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores minus doloremque corrupti aut ab accusantium cum eos quam incidunt, deleniti facere omnis in! Aliquid at rerum autem nesciunt velit impedit!</span>
                    <span class="phone">Số điện thoại: 0912345678</span>
                    <span class="phone">Email: sale@jwcafe.com</span>
                </div>
            </div>
        </div>
    </div>
</section>