
@{
}

<section>
    <div id="home-page" class=" active">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
                <div class="slide">
                    <img src="/resources/img/cafe-intro1.jpg" />
                </div>
                <div class="nav">
                    <label for="img-6" class="prev">&#x2039;</label>
                    <label for="img-2" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/resources/img/cafe-intro2.jpg" />
                </div>
                <div class="nav">
                    <label for="img-1" class="prev">&#x2039;</label>
                    <label for="img-3" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/resources/img/cafe-intro3.jpg" />
                </div>
                <div class="nav">
                    <label for="img-2" class="prev">&#x2039;</label>
                    <label for="img-4" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/resources/img/cafe-intro4.jpg" />
                </div>
                <div class="nav">
                    <label for="img-3" class="prev">&#x2039;</label>
                    <label for="img-5" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/resources/img/cafe-intro5.jpg" />
                </div>
                <div class="nav">
                    <label for="img-4" class="prev">&#x2039;</label>
                    <label for="img-6" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/resources/img/cafe-intro6.jpg" />
                </div>
                <div class="nav">
                    <label for="img-5" class="prev">&#x2039;</label>
                    <label for="img-1" class="next">&#x203a;</label>
                </div>
            </li>

            <li class="nav-dots">
                <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
        </ul>
        <div class="about">
            <img class="bg" src="/resources/img/cafe-farm.jpg" alt="background">
            <div class="content">
                <div class="title">
                    <h1>@ViewData["IntroductTitle"]</h1>
                    <img src="/resources/img/Coffee-nine.gif">
                </div>
                <div class="intro">
                    <div>
                        <p>
                            Được người Pháp đem lên cao nguyên LangBiang vào năm 1930, cây cà phê arabica Đà Lạt đã có một khởi đầu mơ ước ở vùng có thổ nhưỡng, khí hậu không khác gì tại quê hương cà phê Ethiopia.
                            <br>Bắt mạch sống vào mảnh đất màu mỡ, thời tiết mát lạnh quanh năm cùng bàn tay chăm sóc của những con người đam mê cà phê, arabica Đà Lạt đã từng có một quãng thời gian huy hoàng, khi trở thành thức uống của giới
                            thượng lưu, trí thức, học giả và chính trị gia người Pháp lẫn người Việt Nam.
                            <br>Hương thơm say đắm gợi niềm thương nhớ, vị thanh tao nhẹ nhàng mà mê hoặc, cà phê arabica Đà Lạt gắn kết sâu sắc với những câu chuyện, văn hóa, phong cách sống lịch lãm nhưng đầy chân tình của người dân mảnh đất
                            ngàn hoa, thông reo cùng sương mù che phủ.
                            <br>Những cuộc bể dâu. Cà phê arabica Đà Lạt dần mai một rồi trở nên bị quên lãng giữa cuộc sống lẫn lộn các giá trị thật-giả...
                            <br>Cho đến một ngày, người Đà Lạt choàng tỉnh khi giở lại những trang ký ức đẹp về một thời hoa lệ chưa xa. Từng ngày, từng ngày, cây cà phê arabica Đà Lạt đã được bàn tay, khối óc của những chuyên gia cà phê trong
                            ngoài nước, người bản địa gầy dựng lại. Để rồi hôm nay, Café LangBiang tự hào là thương hiệu cà phê arabica Đà Lạt thuần khiết nhất có mặt trên thị trường.
                            <br>Việt Nam là cường quốc xuất khẩu cà phê. Đà Lạt là một trong những nơi trồng arabica ngon nổi tiếng thế giới nhưng thương hiệu cà phê arabica Việt vẫn mờ nhạt. Hôm nay, Café LangBiang sẽ viết tiếp câu chuyện Cà
                            phê Arabica Việt Nam - bằng đam mê và những giá trị tinh tuý nhất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="product bg-brown">
                <div class="introduce">
                    <p class="white">
                        Mỗi mùa trong năm đều lưu giữ một ký ức mà ta đã từng gắn bó, nếm trải và mang những nỗi niềm khác nhau. Để rồi khi hoài niệm khiến cho ta có cảm xúc tương tư thương nhớ.
                        <br><br>Đến với tháng tư cao nguyên lâm viên lãng mạn và trữ tình. LangBiang mùa này là mùa của cảm xúc yêu thương huyền ảo. Những nông trại cà phê Arabica xanh mướt hòa quyện mập mờ trong vòng tay ôm ấp của màn sương.
                        Màu xanh của nông trại Arabica là một phần hơi thở, nhịp sống của đại ngàn nơi đây. Cao nguyên lâm viên tháng tư có những cơm mưa đầu mùa tắm gội tất cả những cảnh vật nơi đây, thúc dục cỏ cây hoa lá đâm chồi nảy lộc và
                        đơm hoa kết trái.

                        <br><br>Mùa mưa Tây nguyên, mùa của cỏ cây thay áo mới, mùa trồng tỉa và là mùa của sự no ấm hạnh phúc. Mùa của chi chít trái trên những cành Arabica được tắm gội và hấp thụ những tinh khí, dưỡng chất của đất trời. Bởi
                        những cơn mưa đầu mùa luôn mang lại cho cây cối và thiên nhiên nguồn năng lượng bất tận. Chồi non đua nhau mọc lên, cây trái xanh mướt.

                        <br><br>Những cơn mưa đầu mùa luôn đủ đầy dư vị cuộc sống, cho lòng người thêm nhiều cảm xúc thăng hoa.
                    </p>
                </div>
                <div class="img">
                    <img src="/resources/img/cafe-machine.jpg">
                </div>
            </div>
            <div class="product">
                <div class="img">
                    <img src="/resources/img/cafe-nature.jpg">
                </div>
                <div class="introduce">
                    <p style="margin-bottom: 0px;">
                        Ly cà phê luôn mang lại niềm vui phấn khởi cho người thưởng thức, cầu nối gắn kết tình bằng hữu. Với những người trẻ tuổi, cà phề là "đầu câu chuyện" cho những buổi hẹn hò, gặp gỡ. Mặc cho thế giới xung quanh có ồn ào náo nhiệt.
                        <br><br>à phê vẫn âm thầm hòa quyện vào trong từng cảm xúc để truyền tải những thông điệp gắn kết mọi ý tưởng, sáng tạo hướng đến thành quả nhất định, xóa nhòa mọi khoảng cách. Cà phê không phân biệt màu gia hay tôn giáo
                        mà nó giúp con người xích lại gần nhau hơn để yêu thương và sẻ chia cuộc sống.

                        <br><br>Uống cà phê là thưởng thức, là tận hưởng những gì là tinh túy mà cà phê mạng đến cho cuộc sống. Người uống cà phê thông minh là người biết chọn lựa cho mình loại cà phê ngon và tốt cho sức khỏe. Vì sức khỏe - con
                        người và quy luật đào thải của thị trường sẽ tẩy chay những dòng sản phẩm bẩn và kém chất lượng.

                        <br><br>Chỉ có cà phê sạch - Oganic mới đem lại sự an tâm và tốt cho sức khỏe người tiêu dùng. Cà phê Arabica Lang Biang sẽ là thỏa mãn mọi đam mê và là sự lựa chọn vô cùng thông minh và hoàn hảo cho những tín đồ cà phê
                        chân chính.

                        <br><br>Chính vì niềm đam mê bất tận dành cho cà phê sạch mà Café Lang Biang ra đời. Với sứ vụ phục hưng niềm tin của mọi người dành cho cà phê Việt. Café LangBiang sinh ra trong một quy trình chuyên nghiệp, hiện đại và
                        thành quả của mình chính là lợi ích cho cộng đồng. Bởi chính cái thần diệu và huyền bí đầy tính nhân văn của Café LangBiang sẽ khiên cho bạn trở nên mạnh mẽ, chững chạc và thông thái.
                    </p>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="product">
                <div class="image">
                    <img src="/resources/img/cafe-product.jpg">
                </div>
                <div class="info">
                    <span>Cà phê Elégant 500g, chua nhẹ, hậu ngọt</span>
                </div>
                <div class="price">
                    <span><span class="dp">120.000</span>VNĐ</span>
                    <span>Khối lượng tịch: 500g</span>
                </div>
                <div class="buy">
                    <input type="number">
                    <a class="add-to-cart">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="product">
                <div class="image">
                    <img src="/resources/img/cafe-product.jpg">
                </div>
                <div class="info">
                    <span>Cà phê Elégant 500g, chua nhẹ, hậu ngọt</span>
                </div>
                <div class="price">
                    <span><span class="dp">120.000</span>VNĐ</span>
                    <span>Khối lượng tịch: 500g</span>
                </div>
                <div class="buy">
                    <input type="number">
                    <a class="add-to-cart">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="product">
                <div class="image">
                    <img src="/resources/img/cafe-product.jpg">
                </div>
                <div class="info">
                    <span>Cà phê Elégant 500g, chua nhẹ, hậu ngọt</span>
                </div>
                <div class="price">
                    <span><span class="dp">120.000</span>VNĐ</span>
                    <span>Khối lượng tịch: 500g</span>
                </div>
                <div class="buy">
                    <input type="number">
                    <a class="add-to-cart">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        <a class="show-more clearfix">Xem thêm</a>
    </div>
</section>