@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div id="news-page" class="">
        <div class="title">
            <h1>TIN TỨC</h1>
            <img src="/resources/img/Coffee-nine.gif">
        </div>
        <div class="container">
            <div class="news">
                <div class="news-block">
                    <a class="news-title" href="news/news-1.html">CÀ PHÊ VÀ LÀM ĐẸP</a>
                    <span class="caption">Cà phê không chỉ là một thức uống được nhiều người ưa thích mà nó còn được xem như một loại nguyên liệu làm đẹp hiệu quả, đặc biệt với da và tóc được rất nhiều người ưa thích. Hãy xem những tác dụng của cà phê giúp làm đẹp cho da và tóc dưới đây nhé!</span>
                    <div>
                        <img src="/resources/img/cafe-news1.jpg">
                    </div>
                    <a href="news/news-1.html">Xem thêm</a>
                </div>
                <div class="news-block">
                    <a class="news-title">9 lý do nên uống cà phê mỗi ngày</a>
                    <span class="caption">Theo các nhà khoa học, cà phê rất tốt cho sức khỏe nếu được uống điều độ. Bằng chứng là những lợi ích với sức khỏe dưới đây.</span>
                    <div>
                        <img src="/resources/img/cafe-news2.jpg">
                    </div>
                    <a href="#">Xem thêm</a>
                </div>
                <div class="news-block">
                    <a class="news-title">tác dụng phụ của cà phê nếu uống quá nhiều</a>
                    <span class="caption">Cà phê có nhiều tác dụng tích cực đối với sức khỏe và làm đẹp nếu sử dụng một cách khoa học và đúng liều lượng. Tuy nhiên, nếu uống quá nhiều cà phê hoặc lựa chọn cà phê kém chất lượng, bạn sẽ gặp các tác dụng phụ.</span>
                    <div>
                        <img src="/resources/img/cafe-news3.jpg">
                    </div>
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>