<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/resources/css/style.css" rel="stylesheet">
    <link href="~/resources/css/home.css" rel="stylesheet">

    <link href="~/vendors/css/all.min.css">
    <script src="~/vendors/js/jquery-3.6.0.js"></script>
    <script src="~/vendors/js/all.min.js"></script>

    <link rel="icon" type="png" href="~/resources/img/cafe-webIcon.png">
    <title>Cafe shop</title>
</head>

<body class="scroll-hidden">
    <header>
        <div id="main-menu">
            <div class="menu">
                <uL class="menu-items">
                    <li class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>
                    </li>
                    <li id="tab-product" class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Product" asp-action="Product">SẢN PHẨM</a>
                    </li>
                    <li class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="Library">SỰ KIỆN</a>
                    </li>
                </uL>
            </div>
            <div class="logo">
                <img src="~/resources/img/Cafe-logo.svg" alt="Logo">
            </div>
            <div class="cart">
                <a asp-area="Home" asp-controller="Product" asp-action="Cart">
                    <span class="goods-count">0</span>
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="nav-btn">
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="menu">
                <uL class="menu-items">
                    <li class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="News">TIN TỨC</a>
                    </li>
                    <li class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="Stores">CỬA HÀNG CAFE</a>
                    </li>
                    <li class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="Contact">LIÊN HỆ</a>
                    </li>
                </uL>
            </div>
        </div>
        <div id="menu-left">
            <div class="menu">
                <uL class="menu-items">
                    <li class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="Index">TRANG CHỦ</a>
                    </li>
                    <li id="tab-product" class="menu-item tablink">
                        <a asp-area="Home" asp-controller="Home" asp-action="Product">SẢN PHẨM</a>
                    </li>
                    <li class="menu-item tablink">
                        <a  asp-area="Home" asp-controller="Home" asp-action="Library">SỰ KIỆN</a>
                    </li>
                    <li class="menu-item tablink">
                        <a  asp-area="Home" asp-controller="Home" asp-action="News">TIN TỨC</a>
                    </li>
                    <li class="menu-item tablink">
                        <a  asp-area="Home" asp-controller="Home" asp-action="Stores">CỬA HÀNG CAFE</a>
                    </li>
                    <li class="menu-item tablink">
                        <a  asp-area="Home" asp-controller="Home" asp-action="Contact">LIÊN HỆ</a>
                    </li>
                </uL>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <img src="~/resources/img/cafe-countrySide.jpg">
        <div>
            <h1>
                <span>CAFE JW</span>
                <span>Hotline: 09123123213</span>
                <span>Email: sale@jwcafe.com</span>
            </h1>
        </div>
    </footer>

    <script>
        var listCartItem = JSON.parse(localStorage.getItem('cartItems')) ?? [];
        $(document).ready(function () {
            $("a[href='@Context.Request.Path']")
                .parent().addClass('active');
            refeshCartCount();
            $('.products .product input[type="number"]').val(1);
        });
        function refeshCartCount() {
            $('.goods-count').text(listCartItem.length);
        }
        function moneyFormat(val) {
            var strVal = String(val).replaceAll(',', '');
            for (var index = strVal.length - 3; index > 0; index -= 3) {
                strVal = [strVal.slice(0, index), '.', strVal.slice(index)].join('');
            }
            return strVal;
        }
    </script>

    @RenderSection("Scripts", false)
</body>

</html>